<html>
<head>

  <title>Nigma Facturación</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <div class="container-fluid">
    <h2>Creación de Productos:</h2>
  </div>
  <div class="container-fluid">
      <div class="col-md-6">
          <br />
          <form action="" class="">
              <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input class="form-control" id="nombre" type="text" placeholder="Nombre:" data-ng-model="newProduct.Nombre">
              </div>
              <div class="form-group">
                  <label for="nombre">EAN:</label>
                  <input class="form-control" id="EAN" type="number" placeholder="EAN:" data-ng-model="newProduct.EAN">
              </div>
              <div class="form-group">
                  <label for="cedula">Precio</label>
                  <input class="form-control" id="Precio" type="number" placeholder="Precio:" data-ng-model="newProduct.Precio">
              </div>

          </form>
        </div><br><br><br>
        </div>
    <div class="container-fluid">
        <div class="col-md-6">
            <button class="btn btn-success" data-ng-disabled="!newProduct.Nombre || !newProduct.EAN ||
                      !newProduct.Precio" data-ng-click="sendNewProduct()">
                Crear Producto
            </button>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>    Regresar
            </button>
        </div>
    </div>
</body>
</html>
