<html>
<head>
  <title>Nigma Facturación</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fp">
            <span class="sr-only">Desplegar / Ocultar Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Nigma Solutions/Sucursales</a>
        </div>
        <!--Inicia Menu-->
        <div class="collapse navbar-collapse" id="navegacion-fp">
          <ul class="nav navbar-nav">
            <li class="active"><a>Inicio</a></li>
            <li><a data-ng-click="goCreateBranch()">Crear Sucursal</a></li>
            <li><a data-ng-click="goReadBranch()">Ver sucursales existentes</a></li>
            <li><a data-ng-click="goUpdateBranch()">Modificar sucursal existente</a></li>
            <li><a data-ng-click="goDeleteBranch()">Borrar Sucursal</a></li>
            <li><a data-ng-click="goReturn()">Regresar</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br><br><br><br><br><br>
  <div class="container-fluid">
      <div class="col-md-offset-4">
        <img src="imagenes/suc.png"/>

      </div>

    </div>








<script src="http:code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
