<html>
<head>
  <title>Nigma Facturación</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="container-fluid">
        <h2>Creación de Sucursal:</h2>
    </div>
    <div class="container">
        <div class="col-md-6">
            <br />
            <form action="" class="">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" id="nombre" type="text" placeholder="Nombre:" data-ng-model="newBranch.Nombre">
                </div>
                <div class="form-group">
                    <label for="nombre">Dirección:</label>
                    <input class="form-control" id="direccion" type="text" placeholder="Dirección:" data-ng-model="newBranch.Direccion">
                </div>
                <div class="form-group">
                    <label for="cedula">Teléfono:</label>
                    <input class="form-control" id="telefono" type="number" placeholder="Teléfono:" data-ng-model="newBranch.Telefono">
                </div>

                <br>
            </form>
        </div>
    </div>
    <div class="container">
        
            <button class="btn btn-success" data-ng-click="sendNewBranch()" data-ng-disabled="!newBranch.Nombre || !newBranch.Direccion ||
                                  !newBranch.Telefono">Crear Sucursal</button>
        <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>    Regresar
        </button>
        </div>
        




        <script src="http:code.jquery.com/jquery-latest.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
