<html>
<head>
  <title>Nigma Facturación</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <div class="container-fluid">
    <h1>Actualización de Empleados:</h1><br>
  </div>
  <div class="container">
    <h4>Buscar:</h4>
    <input type="text"><br><br>
  </div>
  <br>
  <div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Rol</th>
            </tr>
            <tr data-ng-repeat="emp in listOfEmployee  | filter: search" data-ng-click="unHideMod(emp)">
                <td>{{emp.Nombre}}</td>
                <td>{{emp.Apellidos}}</td>
                <td>{{emp.Cedula}}</td>                
                <td>{{emp.NombreRol}}</td>
        </table>
    <br>
        <div class="container">
            <div class="col-md-6" data-ng-hide="boolHideModify">
                <br />
                <form action="" class="">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" id="nombre" type="text" placeholder="Nombre:" data-ng-model="updatedEmployee.Nombre">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Apellidos:</label>
                        <input class="form-control" id="Apellidos" type="text" placeholder="Apellidos:" data-ng-model="updatedEmployee.Apellidos">
                    </div>
                    <div class="form-group">
                        <label for="cedula">Cedula:</label>
                        <input class="form-control" id="Cedula" type="text" placeholder="Cedula:" data-ng-model="updatedEmployee.Cedula">
                    </div>
                    <div class="form-group">
                        <label for="cedula">Contraseña:</label>
                        <input class="form-control" id="Contraseña" type="password" placeholder="Contraseña:" data-ng-model="updatedEmployee.Contrasena">
                    </div>
                    <div class="form-group">
                        <label for="option">Puesto: </label>
                        <select ng-disabled="checked" ng-options="rol.Nombre for rol in rolList" class="form-control" data-ng-model="rolSelected" data-ng-change="changeRol(rol)"></select>
                    </div>
                    <br><br>
                </form>
            </div>
        </div>
    <button type="button" class="btn btn-success" data-ng-click="sendUpdate()">Modificar</button>
    <button type="button" class="btn btn-primary" data-ng-click="goCRUD()">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>    Regresar
    </button>
  </div>







<script src="http:code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
