<html>
<head>
  <title>Nigma Facturación</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <div class="container-fluid">
    <h1>Actualización de Clientes:</h1><br>
  </div>
  <div class="container">
    <h4>Buscar:</h4>
    <input type="text"><br><br>
  </div>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Cédula</th>
              <th>Fecha de Nacimiento</th>

          </tr>
          <tr data-ng-repeat="cli in listOfClient  | filter: search" data-ng-click="unHideMod(cli)">
              <td>{{cli.Nombre}}</td>
              <td>{{cli.Apellidos}}</td>
              <td>{{cli.Cedula}}</td>
              <td>{{cli.FechaNacimiento}}</td>
</table>
        <div class="container">
            <div class="col-md-6" data-ng-hide="boolHideModify">
                <br />
                <form action="" class="">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" id="nombre" type="text" placeholder="Nombre:" data-ng-model="updatedClient.Nombre">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Apellidos:</label>
                        <input class="form-control" id="Apellidos" type="text" placeholder="Apellidos:" data-ng-model="updatedClient.Apellidos">
                    </div>
                    <div class="form-group">
                        <label for="cedula">Cedula:</label>
                        <input class="form-control" id="Cedula" type="text" placeholder="Cedula:" data-ng-model="updatedClient.Cedula">
                    </div>
                    <div class="form-group">
                        <label for="cedula">Fecha Nacimiento:</label>
                        <input class="form-control" id="Fecha Nacimiento:" type="date" placeholder="Fecha Nacimiento:" data-ng-model="updatedClient.FechaNacimiento">
                    </div>

                    <br><br>
                </form>
            </div>
        </div>
    <br>
    <button type="button" class="btn btn-primary" data-ng-click="goClientsCRUD()">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>    Regresar
    </button>
        <button type="button" class="btn btn-primary" data-ng-click="sendUpdate()">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>    Modificiar
        </button>
  </div>








<script src="http:code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
