<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>Admin Menu</h1>
    <button type="button" class="btn btn-info" data-ng-click="goBranch()">Branch</button>
    <button type="button" class="btn btn-info" data-ng-click="goEmployees()">Employees</button>
    <button type="button" class="btn btn-info" data-ng-click="goProducts()">Products</button>
    <button type="button" class="btn btn-info" data-ng-click="goClients()">Clients</button>
    <button type="button" class="btn btn-info" data-ng-click="goSuppliers()">Suppliers</button>
    <button type="button" class="btn btn-info" data-ng-click="goReports()">Reporrs</button>
</body>
</html>
